<div  class="chat-header">
    <table>
        <tr>
            <td>
                <img src={{{pjImage}}}>
            </td>
            <td>
                {{{header}}}
            </td>
        </tr>
    </table>
</div>
<div  class="chat-content-item">
    <table>
        <tr>
            <td>
                <img src="{{spellImage}}" title="{{spellName}}" width="36" height="36"/>
            </td>
        </tr>
        <tr>
            <td>
                <div>{{{description}}}</div>
            </td>
        </tr>
    </table>   
</div>