<div  class="chat-header">
    <table>
        <tr>
            <td>
                {{{header}}}
            </td>
        </tr>
    </table>
</div>
<div  class="chat-content">
    <table>
        <tr>
            <td>
                {{{rollTitle}}}
            </td>
        </tr>
        <tr>
            <td>
                <div class="damageRoll heal" data-damage={{{totalRoll}}} data-rollType={{{rollType}}}>
                    <h1 class="dice-total">{{{totalRoll}}}</h1>
                </div>
            </td>
        </tr>
    </table>   
</div>
