<div  class="chat-header-item">
    <table>
        <tr>
            <td></td>
            <td>
                <label>{{{item.name}}}</label>
            </td>
            <td></td>
        </tr>
    </table>
</div>
<div  class="chat-content-item">
    <table>
        <tr>
            <td>
                <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
            </td>
        </tr>
        <tr>
            <td>
                <div>{{{description}}}</div>
            </td>
        </tr>
    </table>   
</div>
