.btw {
	h3 {
		border-bottom: none;
	}
	.sheet-header {
		flex: 0 0 auto;
		&.flexrow {
			gap: 10px;
			align-items: flex-start;
		}
		.portrait {
			flex: 0 0 auto;
			height: 100px;
			width: 100px;
			text-align: center;
			border: 1px solid var(--color-border-dark);

			.profile-img {
				height: inherit;
				border: none;
				margin-right: 0;
			}
		}
		.header-fields {
			input[name="name"] {
				font-size: 2em;
				height: calc(var(--form-field-height) + 10px);
			}
			input[type="number"] {
				text-align: center;
				max-width: 32px;
			}
			.class.flexrow {
				gap: 4px;
			}
			.experience input {
				max-width: unset;
			}
			.form-group.level {
				flex: 0 0 auto;
			}
		}
	}
	.sheet-tabs {
		flex: 0 0 auto;
	}
	.sheet-body {
		overflow: hidden auto;
		.tab.features.flexrow {
			gap: 5px;
		}
		input[type="number"] {
			max-width: 32px;
			text-align: center;
		}
		.editor {
			min-height: 200px;
			&.prosemirror {
				min-height: 500px;
				min-height: -webkit-fill-available;
			}
		}
	}

	&.sheet {
		&.actor {
			min-width: 620px;
			&.character {
				min-height: 750px;
			}
			&.npc {
				min-height: 600px;
			}

			ol.unlist {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			.portrait {
				height: 200px;
				width: 200px;
			}
			.left-side {
				padding-right: 5px;
			}
			.right-side {
				padding-left: 5px;
			}
			.spacer.flexrow {
				flex: 0;
				&:before {
					content: "";
					border-left: 1px solid var(--color-border-light-primary);
					  border-right: 1px solid var(--color-border-light-highlight);
					align-self: stretch;
				}
			}
			.abilities {
				.ability {
					&.flexrow {
						gap: 2px;
						align-items: center;
					}
					.abitily-name,
					.ability-score,
					.ability-mod {
						font-size: var(--font-size-20);
					}
					.ability-label {
						&.flexcol {
							align-items: center;
						}
						input.ability-score {
							flex: 0 0 auto;
						}
					}
					.ability-modifiers {
						flex: 0 0 auto;

					}
					.ability-features {
						text-align: right;
						align-self: center;
					}
				}
			}
			.saves {
				height: 120px;
				.save.flexcol {
					text-align: center;
					align-items: center;

					.save-name {
						flex: 0;
						min-height: 34px;
						align-content: center;
					}

					&:nth-child(odd) {
						margin-bottom: auto;
					}
					&:nth-child(even) {
						margin-top: auto;
					}
				}
				.save-wrapper {
					flex: 0 0 auto;
					border: 1px solid var(--color-border-light-tertiary);
					border-radius: 20px;
					padding: 1px 0;
					input {
						border-radius: 20px;
						height: 32px;
					}
				}
			}
			.right-fields {
				align-items: center;
				margin: 3px 0;

				label {
					text-align: center;
				}

				input {
					font-size: var(--font-size-20);
				}

				> div.flexcol {
					align-items: center;
				}

				.armor input {
					border-radius: 0 0 20px 20px;
				}

				.hp {
					gap: 3px;
					input {
						max-width: 40px;
					}
				}
			}
			.class-abilities {
				padding-left: 2px;
			}
			.item-controls {
				flex: 0 0 auto;
				margin: auto;
			}
			.item-row {
				display: flex;
				align-items: stretch;
				.item-name {
					flex: 1;
					display: flex;
					gap: .5rem;
					align-items: center;
					line-height: 1;
					position: relative;
					.item-image {
						width: 32px;
						height: 32px;
						object-fit: cover;
						min-width: 32px;
						min-height: 32px;
					}
				}
				.item-detail {
					.item-unequipped {
						color: #999;
					}
				}
			}
		}
		&.item {
			min-height: 350px;
			min-width: 400px;

			.perLevel {
				flex: 0 0 auto;
			}
		}
		.rollable {
			&:hover {
				cursor: pointer;
				color: #000;
				text-shadow: 0 0 10px red;
			}
		}
		.window-content {
			overflow-y: hidden;
			form {
				height: 100%;
				overflow: hidden;
			}
		}
		.details-sidebar {
			flex: 0 1 32%;
			border-right: 1px solid var(--color-border-light-primary);
			padding-right: 5px;
			+ div {
				padding-left: 5px;
			}
		}
		.flexcol hr, .flexrow hr {
			flex: 0;
		}
	}

	&.chat-card {
		.card-header {
			padding: 3px 0;
			border-top: 2px groove #fff;
			border-bottom: 2px groove #fff;
			img {
				flex: 0 0 36px;
				margin-right: 5px;
			}
			h3 {
				flex: 1;
				margin: 0;
				line-height: 36px;
				font-family: "Modesto Condensed", "Palatino Linotype", serif;
				font-size: 20px;
				font-weight: 700;
				color: #4b4a44;
			}
		}
	}
}

.dice-roll .dice-total {
	&.success {
		color: inherit;
		background: #c7d0c0;
		border: 1px solid #006c00;
	  }
	  &.failure {
		color: inherit;
		background: #ffdddd;
		border: 1px solid #6e0000;
	  }
	  &.critical {
		color: green;
	  }
	  &.fumble {
		color: red;
	  }
}

.sheet.journal-sheet.window-app.journal-entry-page .window-content,
.sheet.journal-entry .journal-entry-content {
	background: white;
}

.vtt {
	.journal-sheet .window-content  {
		h1,
		h2,
		h3,
		h4 {
			border: none;
		}
		table tr {
			background-color: #dddbc4;

			&:nth-child(2n) {
				background-color: white;
			}
		}
		.info-box {
			color: #3f503a;
			background: #dddbc4;
			padding: 1px 5px;
		}
		.journal-icon {
			background-color: black;
			float: left;
			width: 64px;
			height: 64px;
			margin-right: 5px;
		}
	}
}
